<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <div id="root"></div>
    <script type="module" src="https://xjq.icu/assets/app.fc730a9c.js"></script>
   
    <script src="https://image.xjq.icu/runcode/prettier/2.7.1/parser-babel.js"></script>
    <script src="https://image.xjq.icu/runcode/prettier/2.7.1/standalone.js"></script>
    <script src="/main.js"></script>
    <script>
      console.log(location.href);
      location.href = 'http://127.0.0.1:3000/index2'
    </script>
</body>
</html>